
# this is the requirements.txt file...



requests

plotly
#plotly requires pandas
pandas

python-dotenv

sendgrid==6.5.0

flask

#testing

pytest

#production server needs this to run the web app
gunicorn
